{
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "tailwindConfig": "./tailwind.config.js",
    "tailwindPreserveWhitespace": true,
    "tailwindPreserveDuplicates": true,
    "plugins": [
        "prettier-plugin-tailwindcss"
      ]
}
